.projects-main {
    margin: 7rem 1rem;
}

.projects-content h4 {
    font-size: 1.3em;
    font-weight: 600;
    padding: .5rem 0;
    color: var(--contrast-color);
}

.projects-item {
    padding-bottom: 3rem;
}

.projects-item h5 {
    font-size: 1.1em;
    color: var(--font-color);
    padding: 1rem 0;
}

.projects-description {
    color: var(--font-color);
    margin-bottom: 2rem;
}

.projects-desktop, .projects-mobile {
    display: none;
}

.projects-links {
    display: flex;
    gap: 1.5rem;
}

.projects-links a, .projects-links a:visited {
    text-decoration: none;
    color: inherit;
}