.projects-main {
    margin: 7rem 1rem;
}

.projects-content h4 {
    font-size: 1.3em;
    font-weight: 600;
    padding: .5rem 0;
    color: var(--contrast-color);
}

.projects-item {
    padding-bottom: 3rem;
}

.projects-item h5 {
    font-size: 1.1em;
    color: var(--font-color);
    padding: 1rem 0;
}

.projects-description {
    color: var(--font-color);
    margin-bottom: 2rem;
}

.projects-desktop, .projects-mobile {
    display: none;
}

.projects-links {
    display: flex;
    gap: 1.5rem;
}

.projects-links a, .projects-links a:visited {
    text-decoration: none;
    color: inherit;
}

.projects-image-switches {
    display: none;
}

.projects-image-button {
    border-radius: 100%;
    height: 15px;
    width: 15px;
    cursor: pointer;
    border: solid 1px var(--font-color);
}

.projects-image-button.true {
    background: var(--font-color);
}

.projects-image-button.false {
    background: rgba(148, 148, 148, 0.295);
    border: solid 1px rgba(148, 148, 148, 0.295);
    opacity: .75;
}

.projects-image-button.false:hover {
    opacity: 1;
}

@media screen and (min-width: 769px) {
    .projects-main {
        margin: 7rem 2rem;
    }

    .projects-content h4 {
        font-size: 1.45em;
    }

    .projects-item h5 {
        font-size: 1.2em;
    }

    .projects-description {
        font-size: 1.15em;
    }

    .projects-desktop {
        display: block;
        width: 100%;
        margin: 2rem 0;
    }

}

@media screen and (min-width: 1025px) {
    .projects-content h4 {
        font-size: 1.5em;
    }

    .projects-item h5 {
        font-size: 1.3em;
    }

    .projects-description {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 1201px) {
    .projects-main {
        margin: 7rem;
    }

    .projects-content h4 {
        font-size: 1.6em;
    }

    .projects-item h5 {
        font-size: 1.4em;
        text-align: center;
    }

    .projects-description {
        font-size: 1.3em;
        text-align: center;
    }
}