.menu-content {
    z-index: 2;
    width: 100%;
    color: white;
    height: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--background-color);   
    box-shadow: 0 4px 15px -5px rgba(0,0,0,.4); 
}

.menu-desktop {
    display: none;
}

.menu-mobile {
    z-index: inherit;
    background: transparent;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.menu-mobile svg {
    background: transparent;
    padding-right: 1rem;
    z-index: 3;
}

.menu-mobile-items.false {
    display: none;
} 

.menu-mobile-items.true {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    position: absolute;
    top: 40px;
    height: 100vh;
    width: 60%;

    padding: 1rem;
    background: var(--background-color);
    
    -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.menu-mobile-item {
    margin: .25rem 0;
}

.menu-mobile-item, p, a {
    background: transparent;
}

.menu-mobile-item a, a:visited {
    text-decoration: none;
    color: var(--contrast-color);
    font-weight: bold;
    font-size: 1.1em;
}

.scrolled {
    position: fixed;
    left: 0;

	-webkit-animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-ver-top {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
  }
  @keyframes scale-up-ver-top {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
  }

@-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }

@media screen and (min-width: 481px) {
    .menu-content {
        height: 50px;
    }
}
  
@media screen and (min-width: 769px) {
    .menu-mobile {
        display: none;
    }

    .menu-desktop {
        display: flex;
        padding-right: 2rem;
        gap: 2rem;
    }

    .menu-desktop-item {
        font-size: 1.1em;
    }

    .menu-desktop-item a, .menu-desktop-item a:visited {
        color: var(--font-color);
        text-decoration: none;
    }

    .menu-desktop-item a:hover {
        text-decoration: underline var(--contrast-color);
    }
}

@media screen and (min-width: 1025px) {
    .menu-desktop-item {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 1201px) {
    .menu-desktop-item {
        font-size: 1.3em;
    }
}
