.about-main {
    display: flex;
    flex-direction: column;

    margin: 5rem 0;
    color: var(--font-color);
}

.about-image {
    margin: 1rem;
}

.about-content {
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem;
}

.about-content h4 {
    font-size: 1.3em;
    font-weight: 600;
    padding: .5rem 0;
    color: var(--contrast-color);
}

.about-content p {
    font-size: 1.1em;
    margin: 5px 0;
}

.about-content span {
    color: var(--contrast-color);
}

.about-skills {
    display: flex;
    flex-direction: column;

    margin: 3rem 0;
    margin-bottom: 1.5rem;
}

.about-skills-header {
    padding: 2rem 0;
    text-align: center;
}

.about-skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.about-skill-item {
    border: solid 2px var(--font-color);

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.about-more {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.about-contact {
    border-radius: 8px;
    border: solid 2px var(--contrast-color);
    padding: 5px 15px;
    font-weight: bold;
}

.about-contact a, .about-contact a:visited {
    color: var(--font-color);
    text-decoration: none;
}

.about-cv {
    border-radius: 8px;
    border: solid 2px var(--font-color);
    padding: 5px 15px;
    font-weight: bold;
}

.about-cv a, .about-cv a:visited {
    color: var(--contrast-color);
    text-decoration: none;
}