.contact-main {
    display: flex;
    flex-direction: column;

    margin: 5rem 0;
    color: var(--font-color);
    margin-bottom: 3rem;
}

.contact-content {
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem;
}

.contact-content h4 {
    font-size: 1.3em;
    font-weight: 600;
    padding: .5rem 0;
    color: var(--contrast-color);
}

.contact-form-item {
    display: flex;
    flex-direction: column;
    margin: .25rem 0;
}

label {
    margin-bottom: .25rem;
}

input, textarea {
    height: 30px;
    border: transparent;
    border-bottom: solid 1px var(--font-color);
    color: var(--font-color);
    padding: 5px;
}

textarea {
    height: 90px;
}

input:focus, textarea:focus {
    border: transparent;
    border-bottom: solid 1px var(--contrast-color);
    outline: none;
}

#submit {
    cursor: pointer;
    margin: 1.5rem 0;
}

.contact-info {
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
    margin-bottom: 0;
}

.contact-info-content {
    display: flex;
    flex-direction: column;
}

.contact-info-item {
    display: flex;
    gap: 1rem;
    margin: .5rem 0;
}

.contact-content p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-size: 1.1em;
}

.contact-info-item span {
    display: flex;
    align-items: center;
}

.contact-info-item a, .contact-info-item a:visited {
    color: var(--font-color);
    text-decoration: underline var(--contrast-color);
}

.form-submitted {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0;
}

@media screen and (min-width: 769px) {
    .contact-content {
        margin: 2rem 2rem;
    }

    .contact-content h4 {
        font-size: 1.45em;
        padding: .75rem 0;
    }

    .contact-content p {
        font-size: 1.25em;
    }

    label {
        margin-bottom: .45rem;
    }

    input {
        height: 35px;
        padding: 7px;
    }

    textarea {
        height: 95px;
    }

    .contact-form-item {
        margin: .5rem 0;
    }
}

@media screen and (min-width: 1025px) {
    .contact-content h4 {
        font-size: 1.5em;
        padding: .8rem 0;
    }

    .contact-content p {
        font-size: 1.3em;
    }

    .contact-form-item {
        margin: .6rem 0;
    }

    input {
        height: 40px;
    }

    textarea {
        height: 95px;
    }
}

@media screen and (min-width: 1201px) {
    .contact-main {
        align-items: center;
    }
    
    .contact-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 75%;

    }

    .contact-content h4 {
        grid-column: span 2;
        text-align: center;
    }

    .contact-content p {
        font-size: 1.3em;
    }

    form {
        padding: 0 1rem;
    }

    .contact-info {
        align-items: flex-start;
        margin-left: 10rem;
    }

}