.header-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--font-color);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
    position: sticky;
}

.header-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    font-size: 1.2em;
}
    
.header-title p {
    font-size: .85em;
    color: var(--light-teal);
}

.header-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}