.nav-main {
    color: var(--font-color);
    font-size: 1.15em;
}

.nav-desktop, .nav-mobile-menu.false {
    display: none;
}

.nav-mobile-menu.true {
    display: block;
}

.nav-mobile-items {
    position: absolute;
    right: 0;
    padding: 1rem;
    padding-top: .5rem;
}

.nav-mobile-item {
    padding: .25rem 0;
    font-weight: 600;
}

.nav-mobile-item a, a:visited {
    text-decoration: none;
    color: var(--font-color);
}

.nav-mobile-item a:hover {
    text-decoration: underline;
    color: var(--dark-teal);
}

@media screen and (min-width: 768px) {
  .nav-main {
    font-size: 1.2em;
  }
}

/* Mobile Nav Animation */

.slide-bottom {
	-webkit-animation: slide-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }
    100% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
    }
  }
  @keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(00px);
    }
  }
  