* {
    margin: 0;
    padding: 0;

    background: var(--background-color);
    font-family: var(--font-family);
}

.blue__button {
    border-radius: 8px;
    border: solid 2px var(--contrast-color);
    padding: 5px 15px;
    font-weight: bold;
    color: var(--font-color)
}

.white__button {
    border-radius: 8px;
    border: solid 2px var(--font-color);
    padding: 5px 15px;
    font-weight: bold;
    color: var(--contrast-color);
}

.logo-main {
    padding-left: 1rem;
    background: transparent;
}

.logo-container {
    border: solid 2px var(--font-color);
    padding: 2px;
    font-weight: 600;
    background: inherit;
}

@media screen and (min-width: 769px) {
    .logo-main {
        padding-left: 2rem;
    }
}

@media screen and (min-width: 1201px) {
    .blue__button, .white__button {
        font-size: 1.2em;
    }
}