.nav-main {
  z-index: 2;
  width: 100%;
  height: 50%;
  background: transparent;

  display: flex;
  justify-content: space-between;
}

.nav-main .logo-main {
  margin-top: 1rem;
}

.nav-desktop {
  display: none;
}

.nav-mobile {
  background: transparent;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

}

.nav-mobile-items.false {
  display: none;
}

.nav-mobile-items.true {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  height: 100vh;
  width: 60%;
  padding-top: 40px;

  -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.nav-mobile-item, p, a {
  background: transparent;
}

.nav-mobile-item a, a:visited {
  text-decoration: none;
  color: var(--contrast-color);
  font-weight: bold;
  font-size: 1.1em;
}

.nav-mobile-item {
  margin: .25rem 0;
}

.nav-mobile svg {
  background: transparent;
  z-index: 3;
}

@-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }

@media screen and (min-width: 769px) {
  .nav-mobile {
    display: none;
  }

  .nav-desktop {
    display: flex;
    background: transparent;
    padding: 1rem 2rem;
  }

  .nav-desktop-items {
    display: flex;
    background: transparent;
    gap: 2rem;
  }

  .nav-desktop-item {
    background: transparent;
    font-size: 1.1em;
  }

  .nav-desktop-item a, .nav-desktop-item a:visited {
    text-decoration: none;
    color: var(--font-color);
  }
}

@media screen and (min-width: 1025px) {
  .nav-desktop-item {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 1201px) {
  .nav-desktop-item {
    font-size: 1.3em;
  }
}
